@font-face
{
    font-family:"bebus";
    src:url('../fonts/BebasNeue.otf') format('opentype');
}
@font-face
{
    font-family:"century";
    src:url('../fonts/century-schoolbook.ttf') format('truetype');
}
@font-face
{
    font-family:"italic";
    src:url('../fonts/MonotypeCorsiva.ttf') format('truetype');
}
body{
    overflow-x: hidden;
}
.avs-all-p{
    font-family:"century",sans-serif
}
.container{
    color: white;
}
/*company-profile-sectiom*/

.profile-section{
    background-color: #5572b8;
    
}
.profile-border{
    border: 2px solid white;
    margin-bottom: 50px;
    color: white;
    position: relative;
    
    
}
.l-shape-img-left-top{
    position: absolute;
    top:-31px;
    left: -31px;
    width: 30px;
    transform: rotate(270deg);
}
.l-shape-img-right-top{
    position: absolute;
    top:-32px;
    right: -30px;
    width: 30px;
    transform: rotate(360deg);
}
.l-shape-img-left-bottom{
    position: absolute;
    bottom:-31px;
    left: -30px;
    width: 30px;
    transform: rotate(180deg);
}
.l-shape-changes{
    position: absolute;
    bottom:-32px;
    left: -30px;
    width: 30px;
    transform: rotate(180deg);
}
.l-shape-img-right-bottom{
     position: absolute;
    bottom:-31px;
    right: -31px;
    width: 30px;
    transform: rotate(90deg);
}


.profile-section .heading-h1{
    color: white;
    text-align: right;
    text-transform: uppercase;
    margin-right: 15%;
    font-family: "bebus",sans-serif;
}
.com-profile-para{

    padding: 10% 5%;
    text-align: justify;
    font-size: 35px;
    
}

.profile-section .heading-h2{
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 29px;
    margin-bottom: 20px;
}
/*com-profile-media-query-section*/
@media (min-width: 300px) and (max-width: 768px) {
    .profile-section .heading-h1{
        font-size: 25px;
    }
    .com-profile-para{
        font-size: 20px;
    }
    .profile-section h2{
        font-size: 10px;
    }
    
    
} 
@media (min-width: 768px) and (max-width: 992px) {
    .profile-section .heading-h1{
        font-size: 25px;
    }
    .com-profile-para{
        font-size: 25px;
    }
    .profile-section h2{
        font-size: 15px;
    }
    
    
} 

/*about-us-section*/
.about-us-para{
    padding: 5%;
    font-size: 35px;
}
.about-para1{
    margin-bottom: 5%;
}
.about-para2{
    margin-bottom: 5%;
}
.about-para3{
    text-transform: capitalize;
    display: inline-block;
    margin-left: 3%;
    
}
.about-us-font-awsome{
    display: flex;
    margin-bottom: 30px;
}
/*about-us-media-query-section*/
@media (min-width: 300px) and (max-width: 768px) {
    .about-us-para{
        font-size: 20px;
    }   
    
} 
@media (min-width: 768px) and (max-width: 992px) {
    .about-us-para{
        font-size: 30px;
    }
} 
/*about-us-practical-sectiom*/
.practical-para-font{
    font-size: 20px;
}

.practical-para1{
    padding-left: 2%;
    margin: 3% 0;
}
.sentance-colour{
    color: #233d75;
}
.practical-list{
    display: flex;

    padding-left: 5%;
    margin-top: 20px;

}
.practical-icon-list{
    margin-right: 5%;
}
.practical-line1{
    display: block;
    width: 100%;
    height: 4px;
    background: white;
    margin-top: 3%;
    margin-bottom: 3%;
    
}
.practical-bottom-awsome{
    display: block;
    margin-left: 2%
}
.practical-para3{
    display: inline;
    margin-left: 3%;
}

.practical-para{
    display: flex;
    align-items: flex-start;
        
}
.practical-para-font-size{
    font-size: 20px;
    padding-left: 3%;
}
.practical-line2{
    display: block;
    width: 82%;
    height: 2px;
    background: white;
    margin: 2% 0;
    
}
.practical-line3{
    display: block;
    width: 82%;
    height: 2px;
    background: white;
    margin-top:2%;
    margin-bottom: 2%;
    margin-left: 18%;
}
.arrow1{
    padding-left: 2%;
}
/*txim-trade-section*/
.whole-page-cover{
    border-right: 5px solid white;
    border-right-style: double;
    margin-top: -5%;
    padding-top: 5%;
    padding-right: 0 !important;
        
}
.exim-trade-top-image{
    display: flex;
}
.exim-color-para{
    color: #952a33;
}
.pic-border{
    border: 1px solid white;
    padding: 0 10%;
    margin-right: 30px;
    margin-top: 30px;
    
}
/*
.pic-border:hover{
    padding: 2% 12%;
    transition: 0.3s;
    border: 2px solid white;
}
*/
.para-left-margin{
    margin-left: 50px;
}

.exim-trade-font-color{

    color: white;
}
.exim-color-word{
    color: #34559a;
}
.exim-para-heading-size{
    font-size: 23px;
}
.exim-font-arrow{
    display: flex;
   
    
    
}

.circle-symbol{
    width: 7px;
    height: 7px;
    border: 1px solid white;
    display: block;
    border-radius: 100%;
    margin-top: 1%;
    margin-left: 8%;
    margin-right: 2%;
}
.para-point{
    display: flex;
    margin-top: 3%;
    
}
.exim-bottom-style{
    border-left: 5px solid white;
    border-left: double;
    margin-top: -1%;
    margin-left: 2%;
    padding-top: 7%;
    padding-bottom: 8%;
    
}
.exim-dbl-line-pic{
    margin-bottom: 5%;
}

.heading-h3{
    font-family: "century",sans-serif;
}

/*exim-media-query-section*/
@media (min-width:300px) and (max-width: 400px) {
    .exim-para-heading-size{
    font-size: 10px;
}  
    .exim-arow-fon{
        font-size: 10px;
        margin-top: .5%;
    }
    .exim-trade-top-image{
        margin-bottom: 5%;
    }
    .para-left-margin{
        margin: 0;
        text-align: center;
    }
    .para-point{
        font-size: 8px;
    }
    .exim-bottom-style{
        border: 0;
    }
    .whole-page-cover{
        border: 0;
}
    .exim-dbl-line-pic{
        display: none;
    }
    
}
@media (min-width:400px) and (max-width: 768px) {
    .exim-para-heading-size{
    font-size: 12px;
}  
    .exim-arow-fon{
        font-size: 12px;
        margin-top: .5%;
    }
    .exim-trade-top-image{
        margin-bottom: 5%;
    }
    .para-left-margin{
        margin: 0;
        text-align: center;
    }
    .para-point{
        font-size: 10px;
    }
    .exim-bottom-style{
        border: 0;
    }
    .whole-page-cover{
        border: 0;
}
    .exim-dbl-line-pic{
        display: none;
    }
    
}
@media (min-width:769px) and (max-width: 992px) {
    .exim-para-heading-size{
    font-size: 18px;
}  
    .exim-arow-fon{
        font-size: 18px;
        margin-top: .5%;
    }
    .exim-trade-top-image{
        margin-bottom: 5%;
    }
    .para-left-margin{
        margin: 0;
        text-align: center;
    }
    .para-point{
        font-size: 15px;
    }
    .exim-bottom-style{
        border: 0;
    }
    .whole-page-cover{
        border: 0;
}
    .exim-dbl-line-pic{
        display: none;
    }
    
}
@media (min-width:993px) and (max-width: 1200px) {
    .exim-para-heading-size{
    font-size: 18px;
}  
    .exim-arow-fon{
        font-size: 18px;
        margin-top: .5%;
    }
    .exim-trade-top-image{
        margin-bottom: 5%;
    }
    .para-left-margin{
        margin: 0;
        text-align: center;
    }
    .para-point{
        font-size: 15px;
    }
    
    .exim-bottom-style{
        border: 0;
    }
    .whole-page-cover{
        border: 0;
}
    .exim-dbl-line-pic{
        display: none;
    }
    
} 
/*exin-trade-idol-section*/
exim-idol-top-image{
    display: flex;
    margin-bottom: 5%;
}

.exim-trade-idol-pic{
    height: 200px;
    width: 200px;
    border: 1px solid white;
    padding: 3px;
}
.h-italic-font{
    font-family: "italic",sans-serif;
    font-size: 30px;
    margin-top: 30px;
}
.exim-idol-div{
    margin-right:  7%;
}
.agro-product-item{
    display: flex;
    
    font-size:20px;
}
.exim-agro-heading-size{
    font-size: 20px;
    margin-left: 2%;
    
}
.agro-product-item ul{
    margin-left: 10%;
   
    
}
.agro-product-right-list1 li{
    padding: 5% 0;
}
.agro-product-right-list2 li{
    padding: 10% 0;
}
.exim-argo-bottom-pic{
    display: flex;
}
.exim-pic-bottom{
    border: 1px solid white;
    padding: 0 10%;
    
   
}
.exim-salwar-para-size{
    font-size: 20px;
}
.exim-salwar-para-list{
    font-size: 20px;
    margin-left: 5%;
}
.exim-argo-salwar-pic{
    height: 200px;
    width: 200px;
    border: 1px solid white;
    padding: 5px 30px;
}

.salwal-kurti-ul li{
    padding: 10px;
}

.exim-argo-salwar-pic{
    margin: 20px;
}


.agro-margin-right{
    
    border-right: 5px solid white;
    border-right-style: double;
    margin-top: -120px;
    padding-top: 120px;
    margin-right: 25px;
}

.salwar-saree-left-border{
    border-left: 5px solid white;
    border-left-style: double;
    margin-left: 60px;
}
.salwar-kurti-col{
    margin-top: -150px;
    z-index: 1000px;
}
.salwar-bg{
    background-color: #5572b8;
}
.exim-comtent-padding{
    margin-top: 30px;
   
}
.exim-content-margin{
    margin-left: 30px;
}
.exim-bottom-margin{
    margin-top: 60px;
    margin-left: 10px;
}
.exim-god-pic{
     height: 200px;
    width: 200px;
    border: 1px solid white;
    padding:5px 15px;
}

/*exim-trade-idol-section*/
@media (min-width:300px) and (max-width: 400px) {
    .salwar-saree-left-border{
        border: 0;
    }
    .agro-margin-right{
        border: 0;
    }
    
    .exim-trade-top-image{
        
        justify-content: center;
    }
    .exim-trade-idol-pic{
        width: 100px;
        height: 120px;
        
    }
    .salwar-saree-left-border {
        margin-left: 0px;
    }
    .exim-h1{
        text-align: center!important;
        margin-bottom: 5%;
    }
    .idol-font-size{
        font-size: 15px;
    }
    .h-italic-font{
        font-size: 15px;
    }
    .exim-bottom-margin{
        margin-left: 0;
    }
    .salwar-kurti-col{
        margin-top: 10%;
    }
    
}
@media (min-width:400px) and (max-width: 768px) {
    .salwar-saree-left-border{
        border: 0;
    }
    .agro-margin-right{
        border: 0;
    }
    .exim-trade-top-image{
        
        justify-content: center;
    }
    .exim-god-pic{
        width: 150px;
        height: 150px;
        
    }
    .h-italic-font{
        font-size: 15px;
    }
    .salwar-saree-left-border {
        margin-left: 0px;
    }
    .exim-h1{
        text-align: center !important;
        margin-bottom: 5%
    }
    .salwar-kurti-col{
        margin-top: 10%;
    }
    
}
   
    

@media (min-width:769px) and (max-width: 992px) {
    .salwar-saree-left-border{
        border: 0;
    }
    .agro-margin-right{
        border: 0;
    }
    .exim-god-pic{
        width: 150px;
        height: 150px;
        
    }
    .exim-trade-top-image{
        
        justify-content: center;
    }
    .salwar-saree-left-border {
        margin-left: 0px;
    }
    .exim-h1{
        text-align: center !important;
        margin-bottom: 5%
    }
     .h-italic-font{
        font-size: 20px;
    }
    .exim-h1{
        text-align: center !important;
    }
    .salwar-kurti-col{
        margin-top: 10%;
    }
    
}
@media (min-width:993px) and (max-width: 1200px) {
    
     .salwar-saree-left-border{
        border: 0;
    }
    .agro-margin-right{
        border: 0;
    }
    .exim-god-pic{
        width: 150px;
        height: 150px;
        
    }
    .exim-trade-top-image{
        
        justify-content: center;
    }
    .salwar-saree-left-border {
        margin-left: 0px;
    }
    .exim-h1{
        text-align: center !important;
        margin-bottom: 5%
    }
    .exim-h1{
        text-align: center !important;
    }
    .salwar-kurti-col{
        margin-top: 10%;
    }
    
}
  
    

/*exim-argo-media-query*/
@media (min-width:300px) and (max-width: 400px) {
    
    .exim-trade-idol-pic{
        width: 100px;
        height: 120px;
        
    }
    .exim-argo-salwar-pic{
        width: 100px;
        height: 120px;
    
    border: 1px solid white;
    padding: 5px 10px;
    }
    .exim-agro-heading-size{
        font-size: 15px;
    }
    .exim-ul-ft-size{
        font-size: 14px;
    }
    .salwar-saree-left-border{
        border: 0;
    }
    .agro-margin-right{
        border: 0;
    }
    

    
}
@media (min-width:400px) and (max-width: 768px) {
    
    .exim-trade-idol-pic{
        width: 150px;
        height: 150px;
        
    }
    .exim-agro-heading-size{
        font-size: 18px;
    }
    .exim-argo-salwar-pic{
        width: 150px;
        height: 150px;
    
    border: 1px solid white;
    padding: 5px 10px;
    }
    .salwar-saree-left-border{
        border: 0;
    }
    .agro-margin-right{
        border: 0;
    }
    
   
    
}
   
    

@media (min-width:769px) and (max-width: 992px) {
    
    .exim-trade-idol-pic{
        width: 150px;
        height: 150px;
        
    }
     .exim-argo-salwar-pic{
        width: 150px;
        height: 150px;
    
    border: 1px solid white;
    padding: 5px 10px;
    }
    .salwar-saree-left-border{
        border: 0;
    }
    .agro-margin-right{
        border: 0;
    }
    
    
}
    
    

@media (min-width:993px) and (max-width: 1200px) {
    
    .exim-trade-idol-pic{
        width: 150px;
        height: 150px;
        
    }
    .exim-agro-heading-size{
        font-size: 18px;
    }
    .exim-ul-ft-size{
        font-size: 17px;
    }
     .exim-argo-salwar-pic{
        width: 150px;
        height: 150px;
    
    border: 1px solid white;
    padding: 5px 10px;
    }
    .salwar-saree-left-border{
        border: 0;
    }
    .agro-margin-right{
        border: 0;
    }
    
    
    
}
  
    
