@font-face
{
	font-family:"century-schoolbook-t";
	src: url('../fonts/century-schoolbook-t.ttf') format('truetype');
}
address
{
    color: white;
    font-size: 20px;
	margin-bottom: 0;
	line-height: 2em;
	padding: 15px;
	font-family:"century-schoolbook-t", sans-serif;
}
#map
{
	 width: 100%;
     height: 400px;
	
}
.cotact-big-logo
{
	 width: 395px;
	height: 340px;
}
.contact-left-border
{
	border-left-style: double;
	border-left-color: white;
	border-left-width: 4px;
	padding-top: 20px;
	padding-bottom: 20px;
}
@media(max-width:1198px) and (min-width:992px)
{
	.cotact-big-logo
	{
		width: 320px;
    	height: 380px;
    	margin-left: 15px;
	}
}
@media(max-width:991px) and (min-width:499px)
{
	.cotact-big-logo
	{
		width: 314px;
    	height: 380px;
    	margin-left: 15px;
	}
	.contact-left-border
	{
		border-top: 4px double white;
		border-left: 0;
		padding-top: 20px;
		padding-bottom: 20px;
		text-align: center;
	}
}
@media(max-width:767px)
{
	.contact-left-border
	{
		border-top: double;
		border-top-color: white;
		border-top-width: 4px;
	}
	.contact-left-border
	{
		border-left: 0;
	}
	
}
@media(max-width:500px) and (min-width:375px)
{
	.cotact-big-logo
	{
		 width: 290px;
		height: 300px;
	}
	
}
@media(max-width:374px) and (min-width:325px)
{
	.cotact-big-logo
	{
		width: 245px;
    	height: 250px;
	}
	address
	{
		font-size: 17px;
	}
}
@media(max-width:324px)
{
	.cotact-big-logo
	{
		width: 190px;
    	height: 205px;
	}
	address
	{
		font-size: 15px;
	}
}
@media(min-width: 544px)
.container {
/*    max-width: 744px;*/
	margin:0;
}