
.header
{
	background-color: #5572B8;
	height: 50px;
}


@font-face
{
	font-family:"opensans-bold";
	src: url('../fonts/opensans-bold.ttf') format('truetype');
}
@font-face
{
	font-family:"Bonvenocf-Light";
	src: url('../fonts/Bonvenocf-Light.otf') format('opentype');
}
@font-face
{
	font-family:"century-schoolbook-t";
	src: url('../fonts/century-schoolbook-t.ttf') format('truetype');
}
.main-section
{
	background-image: url(../avs-img/background-small-screen.png);
	background-size: cover;
	height: 1000px;
}
	


@media(max-width:1000px)
{
	.main-section
	{
		height: 800px;

	}
}


.banner	
{
	display: flex;
	justify-content: flex-end;
	flex-flow: column;
	align-items: flex-end;
	padding-top: 60px;
	padding-right: 56px;
	
}
.home-heading-style
{
	font-family: "Bonvenocf-Light", sans-serif;
}
.banner	h1
{
	color: white;
	text-transform: uppercase;
	font-size: 50px;
	font-family: "opensans-bold", sans-serif;
}
.para-div
{
	padding-top: 329px;
}
.home-para
{
	color: white;
	line-height: 1.3em;
	font-size: 30px;
	text-align: center;
	font-family: "century-schoolbook-t", sans-serif;
}
@media(max-width:1340px) and (min-width:1115px)
{
	.banner	h1
	{
		font-size: 40px;
	}
	.home-para
	{
		font-size: 25px;
	}
	.main-section
	{
		height: 850px;
	}
}
@media(max-width:1114px) and (min-width:1080px)
{
	.banner	h1
	{
		font-size: 37px;
	}
	
}
@media(max-width:1079px) and (min-width:1030px)
{
	.banner	h1
	{
		font-size: 35px;
		
	}
	.banner
	{
		padding-right: 25px;
	}
	.home-para
	{
		font-size: 26px;
		line-height: 1.7em;
	}
	
}
@media(max-width:1031px) and (min-width:1006px)
{
	.banner	h1
	{
		font-size: 30px;
		
	}
	.home-para
	{
		font-size: 26px;
		line-height: 1.7em;
	}
	.para-div
	{
		padding-top: 250px;
	}
}
@media(max-width:1005px) 
{
	.banner	h1
	{
		font-size: 30px;
		
	}
	.banner
	{
		padding-right: 25px;
	}

}
@media(max-width:1005px) and (min-width:989px)
{
	.banner	h1
	{
		font-size: 30px;
		
	}
}
@media(max-width:990px) and (min-width:636px)
{
	.banner	h1
	{
		display: none;
	}
}
@media(max-width:1340px) and (min-width:1065px)
{
	.banner	
	{
		padding-top: 70px;
	}
	
	.para-div
	{
		padding-top: 300px;
	}
}
@media(max-width:1064px) and (min-width:1000px)
{
	.banner	
	{
		padding-top: 80px;
	}
	
	.para-div
	{
		padding-top: 265px;
	}
	.home-para
	{
		font-size: 22px;
	}
}
@media(max-width:999px) and (min-width:988px)
{
	.banner	
	{
		padding-top: 50px;
	}
	
	.para-div
	{
		padding-top: 226px;
	}
	.home-para
	{
		font-size: 23px;
		line-height: 1.7em;
	}
}
@media(max-width:987px) and (min-width:884px)
{
	.banner	
	{
		padding-top: 50px;
	}
	
	.para-div
	{
		padding-top: 155px;
	}
	.home-para
	{
		font-size: 22px;
		line-height: 1.7em;
	}
}
@media(max-width:883px) and (min-width:848px)
{
	.banner	
	{
		padding-top: 50px;
	}
	
	.para-div
	{
		padding-top: 105px;
	}
	
	.home-para
	{
		font-size: 22px;
		line-height: 1.7em;
	}
}
@media(max-width:847px) and (min-width:826px)
{
	.banner	
	{
		padding-top: 25px;
		padding-right: 25px;
	}
	.para-div
	{
		padding-top: 190px;
	}
	.home-para
	{
		font-size: 22px;
		line-height: 1.7em;
	}
}
@media(max-width:825px) and (min-width:768px)
{
	.banner .welcome
	{
		display: none;
	}
	.para-div
	{
		padding-top: 355px;
	}
	.home-para
	{
		font-size: 22px;
	}
}
/*
@media(max-width:825px) and (min-width:800px)
{
	.banner	
	{
		padding-top: 25px;
		padding-right: 25px;
	}
	.para-div
	{
		padding-top: 190px;
	}
	.home-para
	{
		font-size: 22px;
		line-height: 1.7em;
	}
}
*/
/*
@media(max-width:799px) and (min-width:768px)
{
	.banner	
	{
		padding-top: 25px;
		padding-right: 25px;
	}
	.para-div
	{
		padding-top: 547px;
	}
	.home-para
	{
		font-size: 25px;
		line-height: 1.7em;
	}
}
*/
@media(max-width:767px) and (min-width:746px)
{
	.banner	
	{
		padding-top: 25px;
		padding-right: 25px;
	}
	
	.para-div
	{
		padding-top: 235px;
	}
	.home-para
	{
		font-size: 19px;
		background-color:  #5572B8;
		line-height: 1.7em;
	}
	
}
@media(max-width:745px) and (min-width:635px)
{
	.para-div
	{
		padding-top: 215px;
		padding-bottom: 100px;
		padding-left: 0;
	}
	.main-section
	{
		height: 577px;
	}
	.home-para
	{
		font-size: 16px;
		background-color: rgba(85,114,184,0.7);
		line-height: 1.7em;
	}
	
	.banner h1
	{
		font-size: 45px;
		text-align: center;
		
	}
	.banner
	{
		padding-top: 10px;
	}
	.main-section
	{
		height: 750px;
	}
}
@media(max-width:635px)
{
	.banner
	{
		display: flex;
		justify-content: center;
		flex-flow: column;
		align-items: center;
	}
	.para-div
	{
		width: 100%;
		margin-left: 0;
		padding-top: 80px;
		padding-bottom: 18px;
	}
	.home-para
	{
		font-size: 20px;
		background-color: rgba(85,114,184,0.7);
		
	}

	
	.main-section
	{
		background-image: url(../avs-img/BACKGROUND.jpg);
		background-position: center;
		
	}
	.smal-scrn-opacity
	{
		background-color: rgba(106, 106, 106, 0.7);
		background-size: cover;
		
	}
}
@media(max-width:635px) and (min-width:576px)
{

	.main-section
	{
		
		background-position: center;
		height: 570px;
	}
	.smal-scrn-opacity
	{
		background-color: rgba(106, 106, 106, 0.7);
		background-size: cover;
		height: inherit;
	}
	.banner h1
	{
		font-size: 40px;
	}
}
@media(max-width:575px) and (min-width:484px)
{
	.main-section
	{
		height: 600px;
	}
	.smal-scrn-opacity
	{
		height: inherit;
	}
	.banner h1
	{
		font-size: 40px;
	}
}
@media(max-width:483px) and (min-width:420px)
{
	.main-section
	{
		height: 630px;
	}
	.smal-scrn-opacity
	{
		height: inherit;
	}
	.banner h1
	{
		font-size: 40px;
	}
}
@media(max-width:419px) and (min-width:407px)
{
	.main-section
	{
		height: 660px;
	}
	.smal-scrn-opacity
	{
		height: inherit;
	}
	.first-heading
	{
		font-size: 25px;
	}
}
@media(max-width:406px) and (min-width:317px)
{
	.main-section
	{
		height: 780px;
	}
	.smal-scrn-opacity
	{
		height: inherit;
	}
	.first-heading
	{
		font-size: 25px;
	}
}
@media(max-width:316px) and (min-width:283px)
{
	.main-section
	{
		height: 850px;
	}
	.smal-scrn-opacity
	{
		height: inherit;
	}
	.first-heading
	{
		font-size: 20px;
	}
}
@media(max-width:282px) 
{
	.main-section
	{
		height: 900px;
	}
	.smal-scrn-opacity
	{
		height: inherit;
	}
	.first-heading
	{
		font-size: 18px;
	}
}
.banner .welcome
{
	list-style: none;
}
.welcome li
{
	color: white;
	text-transform: uppercase;
	font-size: 25px;
	padding: 7px;
	font-weight: bold;
}
	
@media(min-width:989px) 
{
	.banner .welcome
	{
		display: none;
	}
}
@media(max-width:635px)
{
	.banner .welcome
	{
		display: none;
	}
}

/*
@media(max-width:800px)
{
	.home-para
	{
		font-size: 20px;
	}
}
*/
@media(max-width:850px)
{
	.welcome li
	{
		font-size: 20px;
	}
}
@media(max-width:657px)
{
	.banner
	{
		padding-right: 10px; 
	}
}