@font-face
{
	font-family:"century-schoolbook-t";
	src: url('../fonts/century-schoolbook-t.ttf') format('truetype');
}
.logistic-right-border
{
	padding-top: 130px; 
	border-right: 4px double white; 
	margin-top:-131px;"
}
/*
.logistic-hero-section
{
	padding-top: 130px; 
	border-right: 4px double white; 
	margin-top:-131px;
}
*/
.logistic-group-pic2
{
	display: none;
}
.logistic-img-border
{
	border: 2px solid white;
	padding: 25px 5px;
}
.logistic-ul
{
	list-style: none;
	padding-top: 15px;
}
.logistic-ul li
{
	color: white;
	font-size: 23px;
	line-height: 1.5em;
	padding-bottom: 20px;
	font-family: "century-schoolbook-t", sans-serif;
}

.logistic-ul li .icon-rotate
{
	transform: rotate(45deg);
}
.logistic-footer-div
{
	border-left: 4px double white;
	padding: 140px 20px;
	margin-left: 50px;
	margin-top: -140px;
	padding-bottom: 40px;
}
.logistic-footer-heading
{
	color: white;
	font-size: 40px;
	text-align: center;
    text-transform: uppercase;
	font-family: "bebasneue", sans-serif; 
}
.logistic-footer-para
{
	color: white;
	font-size: 25px;
	line-height: 1.7em;
	text-align: center;
	font-family: "century-schoolbook-t", sans-serif;
}
.logistic-para-red
{
	color: #9A1E24;
}
@media(max-width:1199px) and (min-width:991px)
{
	.logistic-footer-div
	{
		margin-top:-145px;
	}
}
@media(max-width:990px)
{
	.logistic-right-border
	{
		border: 2px solid white;
		margin-top: 0;
		padding-top: 10px;
	}
	.logistic-footer-div
	{
		border: 0;
		margin-left: 0;
	}
}
@media(max-width:767px) and (min-width:441px)
{
	.logistic-ul li
	{
		font-size: 20px;
	}
	.logistic-footer-heading
	{
		font-size: 30px;
	}
	.logistic-footer-para
	{
		font-size: 20px;
	}
}
@media(max-width:500px)
{
	.logistic-group-pic1
	{
		display: none;
	}
	.logistic-group-pic2
	{
		display: block;
	}
	.margin-bottom
	{
		margin-bottom: 10px;
	}
}
@media(max-width:440px) and (min-width:345px)
{
	.logistic-ul
	{
		padding-left: 0;
	}
	.logistic-ul li
	{
		font-size: 17px;
	}
	.logistic-footer-heading
	{
		font-size: 25px;
	}
	.logistic-footer-para
	{
		font-size: 17px;
	}
}

@media(max-width:344px)
{
	.logistic-ul
	{
		padding-left: 0;
	}
	.logistic-ul li
	{
		font-size: 14px;
	}
	.logistic-footer-heading
	{
		font-size: 21px;
	}
	.logistic-footer-para
	{
		font-size: 14px;
	}
	.logistic-footer-div
	{
		padding-left: 0;
		padding-right: 0;
	}
}
