
.header
{
	background-color: #5572B8;
	height: 50px;
}
.icons-container
{
	display: flex;
	justify-content: flex-end;
	margin-right: 20px;
    padding-top: 10px;
    margin-bottom: -10px;
}
i
{
	padding-right: 10px;
}
.nav
{
	background-color: #5572B8;

}
#logo
{
	width: 150px;
	position: absolute;
	z-index: 1000;
	top: 23px;
}
@media(max-width:1130px) and (min-width:993px)
{
	#logo
	{
		width: 140px;
		top: 24px;
	}
}
@media(max-width:992px) and (min-width: 790px)
{
	#logo
	{
		width: 130px;
		top: 26px;
	}
}
@media(max-width:789px) and (min-width: 768px)
{
	#logo
	{
		width: 130px;
		top: 26px;
	}
}
@media(max-width:767px)
{
	#logo
	{
		display: none;
	}
}
#logo1
{
	width: 90px;
	position: absolute;
	top: 40px;
    left: 20px;
	z-index: 1000;
}
@media(max-width:1500px) and (min-width:768px)
{
	#logo1
	{
		display: none;
	}
}
@media(max-width:350px)
{
	#logo1
	{
		width: 80px;
	}
}

.navbar-default .navbar-nav > li > a {
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
/*
    margin-top: 10px;
    margin-right: 30px;
    margin-bottom: 30px;
*/
  }
@media(max-width:991px) and (min-width: 940px)
{
	.navbar-default .navbar-nav
	{
		 margin-right: -117px;
	}
}
@media(max-width:939px) and (min-width:880px)
{
	.navbar-default .navbar-nav
	{
		 margin-right: -90px;
	}
}
 @media(max-width:879px) and (min-width:840px)
{
	.navbar-default .navbar-nav
	{
		 margin-right: -67px;
	}
}
 @media(max-width:839px) and (min-width:800px)
{
	.navbar-default .navbar-nav
	{
		 margin-right: -50px;
	}
}
@media(max-width:799px) and (min-width:768px)
{
	.navbar-default .navbar-nav
	{
		 margin-right: -35px;
	}
}
@media(max-width:1200px)
{
	.navbar-default .navbar-nav > li > a
	{
		font-size: 14px;
	}
}
 .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: black;
    background-color: transparent;
}
  .navbar-nav > li > .dropdown-menu li a{
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
  }

.navbar-nav > li > .dropdown-menu li a:hover {
    color: blue;
}

.navbar-nav > li > .dropdown-menu li a {
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}
  .navbar-nav > li > .dropdown-menu li a:hover{
    color: blue;
  }
.navbar-nav > li > .dropdown-menu {
    background-color:#5572b8;
}
.navbar-default .navbar-nav li .active
{
  color: black;
}
.nav-big-line
{
	width: 100%;
	margin-top: -1px;
}
@media(max-width: 375px) and (min-width:324px)
{
	.nav-big-line
	{
		margin-top: -4px;
	}

}
@media(max-width: 323px)
{
	.nav-big-line
	{
		margin-top: -7px;
	}

}
