@font-face
{
	font-family:"bebasneue";
	src: url('../fonts/BebasNeue.otf') format('opentype');
}
.mainbody
{
    background-color:#5572B8;

}
.carousel-inner .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}

.carousel-control
{
  background-color: transparent;
}
.project-page
{
  padding-left: 15px;
  padding-right: 15px;
}
.angle-left-top
{
  position: absolute;
  top: -31px;
  left: -31px;
  width: 30px;
  transform: rotate(270deg);
}
.angle-right-top
{
   position: absolute;
   top: -32px;
   right: -30px;
   width: 30px;
   transform: rotate(360deg);
}
.angle-left-bottom
{
    position: absolute;
    bottom: -31px;
    left: -30px;
	width: 30px;
    transform: rotate(180deg);
}
.angle-right-bottom
{
   position: absolute;
   bottom: -31px;
   right: -31px;
   width: 30px;
   transform: rotate(90deg);
}
.hero-section
{
    border: 2px solid white;
    padding-bottom: 30px;
    margin-bottom: 50px;
    position: relative;
}
.img-hover:hover
{
    display: inline-block;
    border: 2px solid white;
    padding: 5px;
    transition: 0.3s;
}
.project-heading
{
    color: white;
    text-transform: uppercase;
/*
    text-align: right;
    padding-right: 190px;
*/
	display: flex; 
	justify-content:flex-end;
	margin-right: 200px;
/*    padding-bottom: 10px;*/
	font-family: "bebasneue", sans-serif; 
	font-size: 50px;
}
.project-footer-heading {
    color: white;
    text-align: center;
    text-transform: uppercase;
	font-family: "bebasneue", sans-serif;
	font-size: 50px;
}
@media(max-width:991px)
{
	.project-margin-bottom
	{
		margin-bottom: 10px;
	}
}
@media(min-width:850px)
{
	.project-sml-screen-page
	{
		display: none;
	}
}
@media(max-width:850px)
{
	.project-large-screen-page
	{
		display: none;
	}
}
@media(max-width:440px) and (min-width:335px)
{
	.project-footer-heading
	{
		font-size: 35px;
	}
	.project-heading
	{
		display: flex;
		justify-content: center;
		font-size: 40px;
	}
}
@media(max-width:334px) 
{
	.project-footer-heading
	{
		font-size: 25px;
	}
	.project-heading
	{
		margin-left: 49px;
		display: flex;
		justify-content: center;
		font-size: 30px;
		text-align: center;
	}
}